@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1><hr />
    <img src="~/image/bg1.jpg" /><hr />
    <h3>For more information, please contact us !</h3>
</div>
