@page
@model IndexModel
@{
    ViewData["Title"] = "Home ";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1><hr />
    <img src="~/image/bg.jpg" /><hr>
    <h3>This is ASP.NET lab1. </h3>
</div>
